Support Get method defined in RFC6241

There is no Get method by current. It is defined in [Section 7.7 of RFC6241](https://www.rfc-editor.org/rfc/rfc6241.html#section-7.7)

Please help to add it.

Get wasn't added because without a filter it's use isn't great.  I have this implemented w/ filter support and will be doing a PR for it soon.